/*! carousel.js v1.0 | MIT License | https://github.com/oldrivercreative/carousel */
.ui-carousel, .ui-carousel-shaker, .ui-carousel-shaker > * {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}
.ui-carousel {
	width: 100%;
	overflow: hidden;
}
.ui-carousel:after {
    display: table;
    content: " ";
    clear: both;
}
.ui-carousel > .container {
	overflow: hidden;
	padding: 0;
}
.ui-carousel-shaker {
	position: relative;
	left: 0%;
	white-space: nowrap;
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	transition: transform 0.5s ease;
}
.ui-carousel-shaker > * > * {
	white-space: normal;
}
.ui-carousel.ui-touch-swiping .ui-carousel-shaker {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.ui-carousel-shaker > * {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-carousel.top-align .ui-carousel-shaker > * {
	vertical-align: top;
}
.ui-carousel.bottom-align .ui-carousel-shaker > * {
	vertical-align: top;
}
.ui-carousel-shaker img {
	pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-carousel.xs-2cols .ui-carousel-shaker > * {
	width: 50%;
}
.ui-carousel.xs-3cols .ui-carousel-shaker > * {
	width: 33.33333333333%;
}
.ui-carousel.xs-4cols .ui-carousel-shaker > * {
	width: 25%;
}
.ui-carousel.xs-5cols .ui-carousel-shaker > * {
	width: 20%;
}
.ui-carousel.xs-6cols .ui-carousel-shaker > * {
	width: 16.66666666666%;
}
.ui-carousel.xs-7cols .ui-carousel-shaker > * {
	width: 14.28571428571%;
}
.ui-carousel.xs-8cols .ui-carousel-shaker > * {
	width: 12.5%;
}
.ui-carousel.xs-9cols .ui-carousel-shaker > * {
	width: 11.11111111111%;
}
.ui-carousel.xs-10cols .ui-carousel-shaker > * {
	width: 10%;
}
.ui-carousel.xs-11cols .ui-carousel-shaker > * {
	width: 9.09090909090%;
}
.ui-carousel.xs-12cols .ui-carousel-shaker > * {
	width: 8.33333333333%;
}
@media (min-width: 768px) {
	.ui-carousel.sm-2cols .ui-carousel-shaker > * {
		width: 50%;
	}
	.ui-carousel.sm-3cols .ui-carousel-shaker > * {
		width: 33.33333333333%;
	}
	.ui-carousel.sm-4cols .ui-carousel-shaker > * {
		width: 25%;
	}
    .ui-carousel.sm-5cols .ui-carousel-shaker > * {
        width: 20%;
    }
    .ui-carousel.sm-6cols .ui-carousel-shaker > * {
        width: 16.66666666666%;
    }
    .ui-carousel.sm-7cols .ui-carousel-shaker > * {
        width: 14.28571428571%;
    }
    .ui-carousel.sm-8cols .ui-carousel-shaker > * {
        width: 12.5%;
    }
    .ui-carousel.sm-9cols .ui-carousel-shaker > * {
        width: 11.11111111111%;
    }
    .ui-carousel.sm-10cols .ui-carousel-shaker > * {
        width: 10%;
    }
    .ui-carousel.sm-11cols .ui-carousel-shaker > * {
        width: 9.09090909090%;
    }
    .ui-carousel.sm-12cols .ui-carousel-shaker > * {
        width: 8.33333333333%;
    }
}
@media (min-width: 992px) {
	.ui-carousel.md-2cols .ui-carousel-shaker > * {
		width: 50%;
	}
	.ui-carousel.md-3cols .ui-carousel-shaker > * {
		width: 33.33333333333%;
	}
	.ui-carousel.md-4cols .ui-carousel-shaker > * {
		width: 25%;
	}
    .ui-carousel.md-5cols .ui-carousel-shaker > * {
        width: 20%;
    }
    .ui-carousel.md-6cols .ui-carousel-shaker > * {
        width: 16.66666666666%;
    }
    .ui-carousel.md-7cols .ui-carousel-shaker > * {
        width: 14.28571428571%;
    }
    .ui-carousel.md-8cols .ui-carousel-shaker > * {
        width: 12.5%;
    }
    .ui-carousel.md-9cols .ui-carousel-shaker > * {
        width: 11.11111111111%;
    }
    .ui-carousel.md-10cols .ui-carousel-shaker > * {
        width: 10%;
    }
    .ui-carousel.md-11cols .ui-carousel-shaker > * {
        width: 9.09090909090%;
    }
    .ui-carousel.md-12cols .ui-carousel-shaker > * {
        width: 8.33333333333%;
    }
}
@media (min-width: 1200px) {
	.ui-carousel.lg-2cols .ui-carousel-shaker > * {
		width: 50%;
	}
	.ui-carousel.lg-3cols .ui-carousel-shaker > * {
		width: 33.33333333333%;
	}
	.ui-carousel.lg-4cols .ui-carousel-shaker > * {
		width: 25%;
	}
    .ui-carousel.lg-5cols .ui-carousel-shaker > * {
        width: 20%;
    }
    .ui-carousel.lg-6cols .ui-carousel-shaker > * {
        width: 16.66666666666%;
    }
    .ui-carousel.lg-7cols .ui-carousel-shaker > * {
        width: 14.28571428571%;
    }
    .ui-carousel.lg-8cols .ui-carousel-shaker > * {
        width: 12.5%;
    }
    .ui-carousel.lg-9cols .ui-carousel-shaker > * {
        width: 11.11111111111%;
    }
    .ui-carousel.lg-10cols .ui-carousel-shaker > * {
        width: 10%;
    }
    .ui-carousel.lg-11cols .ui-carousel-shaker > * {
        width: 9.09090909090%;
    }
    .ui-carousel.lg-12cols .ui-carousel-shaker > * {
        width: 8.33333333333%;
    }
}

/* paging button style (optional) */
.ui-carousel button.previous, .ui-carousel button.next {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -24px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 8px 17px;
}
.ui-carousel button[disabled] {
    opacity: 0.5;
    cursor: default;
}
.ui-carousel button.previous:after, .ui-carousel button.next:after {
    content: "";
    display: block;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 14px solid #fff;
}
.ui-carousel button.next {
    left: auto;
    right: 0;
}
.ui-carousel button.next:after {
    border-right: 0;
    border-left: 14px solid #fff;
}
.ui-carousel button.previous span, .ui-carousel button.next span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

/* navigation button style (optional) */
.ui-carousel-nav {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 16px;
    left: 0;
    right: 0;
    text-align: center;
    list-style: none;
}
.ui-carousel-nav li {
    display: inline-block;
}
.ui-carousel-nav li + li {
    margin-left: 4px;
}
.ui-carousel-nav button {
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.ui-carousel-nav .ui-active button {
    background-color: #fff;
}
.ui-carousel-nav button span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
